body {
    font-family: 'Montserrat', serif;
}

header {
    position: relative;
}

.header-image {
    max-width: 100%; 
    height: auto;
    filter: blur(4px);
}

.logo-image {
    position: absolute;
    z-index: 1;
    width: 33%;
    top: 5%;
    left: 5%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #4F7DA6  
}

nav a:hover {
    color: #82B9E5;
}

section h2 {
    color: #F2B66D;
}

section p {
    color: #82B9E5;
}


@media (max-width: 576px) { 
    nav, section {
        margin: 0.5rem 1.5rem;
    }

    nav {
        font-size: 18px;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: 0.5rem 0;
        text-align: center;
    }

    section h2 {
        font-size: 1.5rem;
    }

    section p {
        font-size: 15px;
        line-height: 1.5;
    }
}

@media (min-width: 576px) and (max-width: 768px) { 
    nav, section {
        margin: 2rem 3rem;
    }

    nav {
        font-size: 18px;
    }

    nav li {
        margin: 1rem 0;
        text-align: center;
    }

    section h2 {
        font-size: 2rem;
    }

    section p {
        font-size: 16px;
        line-height: 1.75;
    }
}

@media (min-width: 768px) and (max-width: 992px) { 
    nav, section {
        margin: 4rem 5rem;
    }

    nav {
        font-size: 23px;
    }

    section h2 {
        font-size: 3rem;
    }

    section p {
        font-size: 19px;
        line-height: 1.75;
    }
}

@media (min-width: 992px) and (max-width: 1200px) { 
    nav, section {
        margin: 4rem 6rem;
    }

    nav {
        font-size: 26px;
    }

    section h2 {
        font-size: 4rem;
    }

    section p {
        font-size: 21px;
        line-height: 1.75;
    }
}

@media (min-width: 1200px) { 
    nav, section {
        margin: 6rem 7rem;
    }

    nav {
        font-size: 32px;
    }

    section h2 {
        font-size: 4.5rem;
    }

    section p {
        font-size: 24px;
        line-height: 1.75;
    }
}


