body {
    font-family: 'Montserrat', serif;
}

header {
    position: relative;
}

.header-image {
    max-width: 100%; 
    height: auto;
    filter: blur(4px);
}

.logo-image {
    position: absolute;
    z-index: 1;
    width: 33%;
    top: 5%;
    left: 5%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #4F7DA6  
}

nav a:hover {
    color: #82B9E5;
}

section h2 {
    color: #F2B66D;
}

section p {
    color: #82B9E5
}


@media (max-width: 576px) { 
    nav {
        margin: 0.5rem 1rem;
        font-size: 15px;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: 0.5rem 0;
        text-align: center;
    }

    section {
        margin: 2.5rem 2rem;
    }
}

@media (min-width: 576px) and (max-width: 768px) { 
    nav {
        margin: 2rem 1rem;
        font-size: 17px;
    }

    section {
        margin: 3rem 2rem;
    }
}

@media (min-width: 768px) and (max-width: 992px) { 
    nav {
        margin: 3rem 2rem;
        font-size: 23px;
    }

    section {
        margin: 2rem 3rem;
    }
}

@media (min-width: 992px) and (max-width: 1200px) { 
    nav {
        margin: 4rem 3rem;
        font-size: 26px;
    }
}

@media (min-width: 1200px) { 
    nav {
        margin: 5rem 4rem;
        font-size: 31px;
    }
}


